<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div class="header">
    <nav>
        <ul>
            <div class="white-box-header"><a href="/about-us">About Us</a></div>
        </ul>
    </nav>
</div>

<div class="welcome-box">
    <h2>Welcome to ProtoPNet feedback collector website!</h2>
    <p>Help us by giving feedback on correctness of model prototypes prediction</p>

    <div class="button-container">
        <a class="action-button" href="/login">Log In</a>
        <a class="action-button" href="/register">Sign Up</a>
    </div>
</div>

</body>
</html>
