<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
</head>
<body>
    <div th:fragment="menu">
        <nav>
            <ul>
                <li><a th:href="@{/home}">Home</a></li>
                <li><a th:href="@{/picture-selection}">Birds</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                <li><a th:href="@{/register}">Register</a></li>
                
            </ul>
        </nav>
        <hr/>
    </div>
</body>
</html>
