<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

<div class="header">
    <nav>
        <ul>
            <div class="white-box-header"><a href="/home">Home</a></div>
            <div class="white-box-header"><a href="/picture-selection">Bird Selection</a></div>
        </ul>
    </nav>
</div>

<div class="content-container">
    <div class="welcome-box">
        <h2>Something about a project</h2>
        <p>bla bla bla!</p>
        <div class="button-container">
            <a class="action-button" href="/picture-selection">Start</a>
        </div>
    </div>
</div>

</body>
</html>
