<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>About Us</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

<div class="header">
    <nav>
        <ul>
            <div class="white-box-header"><a href="/home">Home</a></div>
            <div class="white-box-header"><a href="/picture-selection">Bird Selection</a></div>
            <div class="white-box-header"><a href="/history">History</a></div>
            <div class="white-box-header sign-out"><a href="/logout">Sign Out</a></div>
        </ul>
    </nav>
</div>

<div class="content-container">
    <div class="welcome-box">
        <h2>Who We Are</h2>
        <p>We are a team of three technology enthusiasts from Jagiellonian University, led by Dawid Rymarczyk. We are developing a user-friendly tool to help understand the thought progress of a machine learning model. We are using a model developed by Chaofan Chen, Oscar Li, Chaofan Tao, Alina Jade Barnett, and Cynthia Rudin from <a href="https://github.com/cfchen-duke/ProtoPNet" target="_blank">https://github.com/cfchen-duke/ProtoPNet</a> </p>
        <div class="button-container">
            <a class="action-button" href="/picture-selection">Get Started</a>
        </div>
    </div>
</div>

</body>
<style>
    .welcome-box p {
        font-size: 18px;
    }
</style>
</html>
