<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

<div class="header">
    <nav>
        <ul>
            <div class="white-box-header"><a href="/about-us">About Us</a></div>
            <div class="white-box-header"><a href="/picture-selection">Bird Selection</a></div>
        </ul>
    </nav>
</div>

<div class="content-container">
    <div class="welcome-box">
        <h2>Let's start our journey!</h2>
        <div class="button-container">
            <a href="/picture-selection" class="action-button">Select birds</a>
        </div>
    </div>
</div>

</body>
</html>
