<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Bird Selection</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

<div class="header">
    <nav>
        <ul>
            <div class="white-box-header"><a href="/home">Home</a></div>
            <div class="white-box-header"><a href="/about-us">About Us</a></div>
        </ul>
    </nav>
</div>

<div class="content-container">
    <div class="white-box">
        <h2>Please select a bird kind</h2>
        <form action="/selected-pictures" method="post">
            <label for="birdKind">Available bird kinds:</label>
            <select id="birdKind" name="birdKind">
                <!-- Thymeleaf iteration -->
                <option th:each="birdName : ${birdNames}" th:value="${birdName}" th:text="${birdName}"></option>
            </select>
            <br/>
            <div id="birdsImagesGrid" class="image-grid"></div>
            <input type="hidden" id="selectedImageUrl" name="selectedImageUrl" value="">
            <button type="submit">Submit</button>
        </form>
    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    const birdToFolder = /*[[${nameToFolderMap}]]*/ {};
    /*]]>*/
</script>

    <script>
        let selectedImages = [];
        const maxSelectedImages = 3;

        function loadBirdImages(birdName) {
            let folderName = birdToFolder[birdName]
            fetch(`/images/${folderName}`)
                .then(response => response.json())
                .then(data => {
                    const imageGrid = document.getElementById('birdsImagesGrid');
                    imageGrid.innerHTML = '';

                    data.forEach(url => {
                        const img = document.createElement('img');
                        img.src = url;
                        img.alt = 'Bird Image';
                        img.classList.add('image-item');

                        img.addEventListener('click', () => {
                            if (selectedImages.includes(img)) {
                                img.classList.remove('selected');
                                selectedImages = selectedImages.filter(selected => selected !== img);
                            } else {
                                if (selectedImages.length < maxSelectedImages) {
                                    img.classList.add('selected');
                                    selectedImages.push(img);
                                }else {
                                    alert('You can only select up to 3 bird pictures.');
                                }

                            }
                            updateSelectedImagesInput();
                        });

                        imageGrid.appendChild(img);
                    });
                })
                .catch(error => console.error('Error fetching images:', error));
        }

        function updateSelectedImagesInput() {
            const selectedUrls = selectedImages.map(img => img.src);
            document.getElementById('selectedImageUrl').value = selectedUrls.join(';');
        }

        document.getElementById('birdKind').addEventListener('change', function () {
            loadBirdImages(this.value);
        });

        window.onload = () => {
            const initialBirdName = document.getElementById('birdKind').value;
            loadBirdImages(initialBirdName)
        }
    </script>
</body>
</html>
